body{
    background: linear-gradient(90deg, #ff6853, #ffa252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 99VH;
    
}

.form-box{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    width: 50%;
}




